<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<h2>
	<f:if condition="{settings.filtertitle}">
		<f:then>
			{settings.filtertitle}
		</f:then>
		<f:else>
			Products
		</f:else>
	</f:if>
</h2>

<f:form object="{filter}" objectName="filter" name="filter" method="GET" action="catList" noCacheHash="1">
	<f:comment>
		<!-- Search field -->
		<div class="form-group has-feedback has-clear">
			<f:form.textfield class="form-control" property="searchphrase"
							  placeholder="{f:translate(key: 'tx_marketplace_domain_model_filter.searchphrase')}"/>
			<span class="fa fa-remove form-control-feedback form-control-clear" aria-hidden="true"></span>
			<span class="sr-only">Clear input content</span>
		</div>
	</f:comment>

	<!-- Cat Links -->
	<div class="panel panel-default panel-inverted{f:if(condition: category, then: '', else: ' active')}">
		<div class="panel-heading" role="tab">
			<h4>
				<a class="btn btn-block" data-toggle="collapse" href="#collapse-select-cats">
					Categories
					<i class="fa fa-plus"></i>
				</a>
			</h4>
		</div>
		<div id="collapse-select-cats" class="panel-collapse collapse{f:if(condition: category, then: '', else: ' in')}"
			 role="tabpanel">
			<div class="panel-body">
				<f:for each="{categories}" as="cat">
					<f:if condition="{cat.title} == {category.title}">
						<f:then>
							<f:link.page pageUid="{cat.listpid}" class="btn btn-level1 btn-primary btn-block text-left">
								{cat.title}
								<i class="fa fa-chevron-right"></i>
							</f:link.page>
						</f:then>
						<f:else>
							<f:link.page pageUid="{cat.listpid}" class="btn btn-default btn-level1 btn-block text-left">
								{cat.title}
								<i class="fa fa-chevron-right"></i>
							</f:link.page>
						</f:else>
					</f:if>
					<br>
				</f:for>
			</div>
		</div>
	</div>

	<f:if condition="{options -> f:count()}">
		<hr>

		<f:render partial="Filter/Reset" arguments="{_all}"></f:render>
		<div class="clearfix"></div>

		<div class="level1-box">
			<h2 class="btn btn-level1">
				{category.title}
				<i class="fa fa-minus"></i>
			</h2>
			<f:groupedFor each="{options}" as="opts" groupBy="filtergroup" groupKey="filtergroup">

				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4>
							<a class="btn btn-block" data-toggle="collapse" href="#collapse-select-{filtergroup.uid}">
								{filtergroup.output}
								<i class="fa fa-plus"></i>
							</a>
						</h4>
					</div>

					<!--TODO: "in" only for groups w/ selected options-->
					<div id="collapse-select-{filtergroup.uid}" class="panel-collapse collapse" role="tabpanel">
						<div class="panel-body">

							<f:groupedFor each="{opts}" as="optn" groupBy="filtersubgroup" groupKey="filtersubgroup">
								<f:if condition="{filtersubgroup}">
									<b>{filtersubgroup.title}</b><br>
								</f:if>

								<f:for each="{optn}" as="option">
									<f:render section="options" arguments="{option: option}"></f:render>
								</f:for>
							</f:groupedFor>

						</div>
					</div>
				</div>

			</f:groupedFor>
		</div>

	</f:if>


	<f:if condition="{producers}">
		<hr>
		<h2>Companies</h2>
		<div class="panel panel-default{f:if(condition: filter.producer, then: ' active')}">
			<div class="panel-heading" role="tab">
				<h4>
					<a class="btn btn-block" data-toggle="collapse" href="#collapseProducer">
						{f:translate(key: 'tx_marketplace_domain_model_filter.producer')}
						<i class="fa fa-plus"></i>
					</a>
				</h4>
			</div>

			<div id="collapseProducer"
				 class="panel-collapse collapse{f:if(condition: filter.producer, then: ' in')}"
				 role="tabpanel">
				<div class="panel-body">
					<f:if condition="{producers -> f:count()} > 5 ">
						<f:then>
							<f:form.select property="producer" multiple="TRUE" options="{producers}"
										   optionValueField="uid" optionLabelField="name"
										   class="form-control selectpicker show-tick"
										   data="{actions-box: 'true', live-search: 'true', none-selected-text: 'Click to select', selected-text-format: 'count > 3'}"></f:form.select>
						</f:then>
						<f:else>
							<f:for each="{producers}" as="producer">
								<div class="checkbox">
									<f:form.checkbox property="producer" id="producer-{producer.uid}"
													 value="{producer.uid}"/>
									<label for="producer-{producer.uid}">
										{producer.name}
									</label>
								</div>
							</f:for>
						</f:else>
					</f:if>
				</div>
			</div>
		</div>

	</f:if>

	<f:if condition="{countries}">
		<hr>
		<h2>Countries</h2>

		<div class="panel panel-default{f:if(condition: filter.country, then: ' active')}">
			<div class="panel-heading" role="tab">
				<h4>
					<a class="btn btn-block" data-toggle="collapse" href="#collapseCountries">
						{f:translate(key: 'tx_marketplace_domain_model_filter.country')}
						<i class="fa fa-plus"></i>
					</a>
				</h4>
			</div>
			<div id="collapseCountries"
				 class="panel-collapse collapse{f:if(condition: filter.country, then: ' in')}"
				 role="tabpanel">
				<div class="panel-body">
					<f:if condition="{countries -> f:count()} > 5 ">
						<f:then>
							<f:form.select property="country" multiple="TRUE" options="{countries}"
										   optionValueField="uid" optionLabelField="name"
										   class="form-control selectpicker show-tick"
										   data="{actions-box: 'true', live-search: 'true', none-selected-text: 'Click to select', selected-text-format: 'count > 3'}"></f:form.select>
						</f:then>
						<f:else>
							<f:for each="{countries}" as="country">
								<div class="checkbox">
									<f:form.checkbox property="country" id="country-{country.uid}"
													 value="{country.uid}"/>
									<label for="country-{country.uid}">
										{country.name}
									</label>
								</div>
							</f:for>
						</f:else>
					</f:if>
				</div>
			</div>
		</div>

	</f:if>

	<div class="function">
		<f:render partial="Filter/Reset" arguments="{_all}"></f:render>

		<button type="submit" class="btn btn-warning btn-search">
			{f:translate(key: 'productList.filterButton')}
			<i class="fa fa-search"></i>
		</button>
	</div>

	<!-- Sorting (ausgestellt) -->
	<f:alias
			map="{sortbyArray: {0: '{f:translate(key: \'productList.filter.sortby.0\')}', 1: '{f:translate(key: \'productList.filter.sortby.1\')}', 2: '{f:translate(key: \'productList.filter.sortby.2\')}', 3: '{f:translate(key: \'productList.filter.sortby.3\')}', 4: '{f:translate(key: \'productList.filter.sortby.4\')}', 5: '{f:translate(key: \'productList.filter.sortby.5\')}', 6: '{f:translate(key: \'productList.filter.sortby.6\')}', 7: '{f:translate(key: \'productList.filter.sortby.7\')}'}}">
		<div class="sortby-select form-inline">
			<div class="form-group">
				<f:translate key="productList.filter.sortbyLabel">Sort by</f:translate>
				<f:form.select class="form-control selectpicker" property="sortby" options="{sortbyArray}"/>
			</div>
		</div>
	</f:alias>
</f:form>


<f:section name="options">

	<div class="checkbox">
		<f:form.checkbox property="options" id="option-{option.uid}"
						 value="{option.uid}"/>
		<label for="option-{option.uid}">
			{option.title}
		</label>
	</div>
</f:section>
