{category.title}

<f:for each="{category.selects}" as="select">
    <f:render section="select" arguments="{_all}"></f:render>
</f:for>


<f:section name="select">
    <div class="mp-selectgroup">
        <h2>{select.output}</h2>
        Options: {select.options}
        <f:if condition="{select.selects -> f:count()} > 0">
            <!-- has Selects? -->
            <f:then>
                <f:for each="{select.selects}" as="select2">
                    <f:render section="select" arguments="{select: select2}"></f:render>
                </f:for>
            </f:then>

            <!-- has Options? -->
            <f:else>
                <f:if condition="{select.options -> f:count()} > 0">
                    Options goes here!
                </f:if>
            </f:else>
        </f:if>


    </div>
</f:section>

<f:section name="select">
    <h2>{select.output}</h2>

</f:section>