<f:layout name="FilterLayout"/>


<f:section name="header">
    <f:if condition="{settings.title}">
        <h1>{settings.title}</h1>
    </f:if>
</f:section>

<f:section name="main">
    
    <f:if condition="{products}">
        <f:then>
            <f:render partial="Product/List" arguments="{products: products, settings: settings, bar: bar}"></f:render>
        </f:then>
        <f:else>
            <!-- Content? -->
        </f:else>
    </f:if>

</f:section>

<f:section name="aside">
    <f:render partial="Filter/Catfilter" arguments="{_all}"></f:render>
</f:section>
