<f:layout name="Default"/>


<f:section name="header">
    <f:if condition="{settings.title}">
        <h1>{settings.title}</h1>
    </f:if>
</f:section>

<f:section name="main">
    <f:flashMessages renderMode="div" />

    <f:if condition="{products}">
        <f:then>
            <f:render partial="Product/List" arguments="{_all}"></f:render>
        </f:then>
        <f:else>
            <!-- Content? -->
            No products for this cat...
        </f:else>
    </f:if>

</f:section>

<f:section name="bottom">
    <!-- Nothing here -->
</f:section>
