<div class="data">
    <f:if condition="{product.producer}">
        <b><f:translate key="tx_marketplace_domain_model_producer" />:</b> {product.producer.name}
    </f:if>
    <f:if condition="{product.productsubgroup}">
        <br>
        <b><f:translate key="tx_marketplace_domain_model_product.productgroup" />:</b> {product.productsubgroup.productgroup.name}
        <br>
        <b><f:translate key="tx_marketplace_domain_model_product.productsubgroup" />:</b> {product.productsubgroup.name}
    </f:if>
    <p>getAvailablein:
        <f:for each="{product.availablein}" as="country">
            {country}
        </f:for>
    </p>
    <f:if condition="{product.articles}">
        <p>getAvailablein2:
            <f:for each="{product.articles}" as="article" iteration="i">
                {article.dealer.country.title}<f:if condition="!{i.isLast}">, </f:if>
            </f:for>
        </p>
    </f>
</div>
