
<div class="tx-marketplace tx-marketplace-{view}">
  <div class="row bottom-buffer">
    <div class="col-sm-8 col-sm-offset-4">

      <f:render section="header" />

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 filter bottom-buffer aside">
      <div class="innerWrapper">
        
        <f:render section="aside" />
      
      </div>

    </div>
    <div class="col-sm-8 col-sm-offset-1 list bottom-buffer">
      
      <f:render section="main" />
      
    </div>
  </div>
</div>
