<tr>

  <td class="col-sm-3"><b>{article.dealer.name}</b></td>
  <td class="col-sm-3">{article.dealer.country.name}</td>
  <td class="col-sm-3">{f:if(condition: article.dealer.fob, then: article.dealer.fob, else: article.dealer.country.name)}</td>
  <td class="col-sm-5">
    <f:if condition="{article.currency.uid} > {settings.currencyDefaultUid}">
      <f:then>
        <f:format.currency prependCurrency="1" currencySign="{f:if(condition: article.currency.short, then: article.currency.short, else: article.currency.name)}">{article.price}</f:format.currency>
        <br>
        (<small>
                  <f:format.currency prependCurrency="1" currencySign="{settings.currencySign}">{article.comparableprice}</f:format.currency>
                </small>)
      </f:then>
      <f:else>
        <f:format.currency prependCurrency="1" currencySign="{f:if(condition: article.currency.short, then: article.currency.short, else: settings.currencySign)}">{article.price}</f:format.currency>
      </f:else>
    </f:if>
  </td>
  <td>
    <f:link.action class="btn btn-default" action="contact" controller="Article" arguments="{article: article}" noCache="1" noCacheHash="1">
      <f:translate key="articleContact.leadSend">get in touch</f:translate>
    </f:link.action>
  </td>
</tr>
